<!DOCTYPE html>
<html>
<head>
	<title>Computed Properties</title>
	<script type="text/javascript" src="https://unpkg.com/vue"></script>
</head>
<body>
	<div id="root">
		<h2> All Tasks </h2>
		<ul>
			<li v-for="task in tasks" v-text="task.description"></li>
		</ul>
		<h2>Incomplete Tasks </h2>
		<ul>
			<li v-for="task in inCompleteTasks" v-text="task.description"></li>
		</ul>
	</div>

</body>
<script type="text/javascript">
	let app = new Vue({
		el:'#root',
		data:{

			tasks:[
				{description: 'Goto Store', completed:true},
				{description: 'Have Lunch', completed:false},
				{description: 'Upload Suryakanthi Website', completed:false},
				{description: 'Check Outlook Mail', completed:false},
				{description: 'Renew Seedsandcrops Domain', completed:true},
				{description: 'Have Tea', completed:false}
			]
		},
		methods:{

		},
		computed:{
			inCompleteTasks(){
				return this.tasks.filter(task => ! task.completed)
			}
		}
	})
</script>
</html>