<!DOCTYPE html>
<html>
<head>
	<title>Learning Vuejs</title>
	<script type="text/javascript" src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="root">
	<ul>
		<li v-for="name in names" v-text="name"></li>
	</ul>
	<input type="text" id="input" v-model="newName">
	<button v-bind:title="title" v-on:click="addName">Add</button>
</div>

</body>
<script type="text/javascript">

	let app = new Vue({
		el: '#root',
		data: {
			title:"Title is set through Vue",
			newName:'',
			names:['Shobi', 'Aswin', 'Akshay', 'Shobish']
		},
		methods:{
			addName(){
				this.names.push(this.newName)
				this.newName=''
			}
		}
	})
	
	
</script>
</html>